<!DOCTYPE html>
<html lang="en" ng-app="chunkify-demo">
<head>
  <meta charset="UTF-8">
  <title>yangmillstheory - chunkify</title>
  <style>

  </style>
</head>
<body>
  <grid>
  </grid>
  <div ng-controller='ChunkifyCtrl'>
    <div class='buttons'>
      <button ng-disabled='buttons.disabled' ng-click='actions.reduce({chunkify: true})'>
        Chunked Reduce
      </button>
      <button ng-disabled='buttons.disabled' ng-click='actions.reduce()'>
        Regular Reduce
      </button>
    <div class='buttons'>
      <button ng-disabled='buttons.disabled' ng-click='actions.map({chunkify: true})'>
        Chunked Map
      </button>
      <button ng-disabled='buttons.disabled' ng-click='actions.map()'>
        Regular Map
      </button>
    <div class='buttons'>
      <button ng-disabled='buttons.disabled' ng-click='actions.each({chunkify: true})'>
        Chunked Each
      </button>
      <button ng-disabled='buttons.disabled' ng-click='actions.each()'>
        Regular Each
      </button>
    <div class='buttons'>
      <button ng-disabled='buttons.disabled' ng-click='actions.loop({chunkify: true})'>
        Chunked Loop
      </button>
      <button ng-disabled='buttons.disabled' ng-click='actions.loop()'>
        Regular Loop
      </button>
  </div>
  <script src="site/bundle.js"></script>
</body>
</html>