<!DOCTYPE html>
<html lang="en" ng-app="chunkify-demo">
<head>
  <meta charset="UTF-8">
  <title>yangmillstheory - chunkify</title>
  <link rel="stylesheet" href="site/css/index.css" />
  <!-- Put the bundle here so ng-cloak will work -->
  <script src="site/bundle.js"></script>
</head>
<body ng-cloak>
  <div class='title'>chunkify.js
    <span class='title-blurb'>a functional API to unblock your JavaScript</span>
    <a id='github' href='https://github.com/yangmillstheory/chunkify' target="_blank"></a>
    <a id='npm' href='https://www.npmjs.com/package/chunkify' target="_blank"></a>
    <a id='hn' href='https://news.ycombinator.com/item?id=10328277' target="_blank"></a>
  </div>
  <div class='main-wrapper'>
    <div class='main' ng-controller='ChunkifyCtrl'>
      <progressbar progress='experiment.progress' max='experiment.range'>
      </progressbar>
      <div class='button-container'>
        <div class='buttons' ng-repeat="action in actions.names">
          <button ng-disabled='buttons.disabled' ng-click='actions[action]()'>
            {{action | titlecase}}
          </button>
        </div>
        <label for='chunkify-checkbox'>
          <input type="checkbox" id='chunkify-checkbox' ng-model="actions.chunkify" />
          chunkified
        </label>
      </div>
      <experiment data='experiment'>
      </experiment>
    </div>
    <div class='wisp-container'>
      <experiment-backdrop data="experiment"></experiment-backdrop>
      <wisp></wisp>
    </div>
  </div>
</body>
</html>