html {
  background-color: lightgrey;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  position: relative;
}

.title {
  color: dimgrey;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 6em;
  letter-spacing: -10px;
  position: relative;
}

#github {
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: -15px;
  left: 310px;
  z-index: 1;
  background: url(../img/octocat.png) no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

#npm {
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: -10px;
  left: 375px;
  background: url(../img/npmjs.png) no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

.main-wrapper {
  margin-top: 20px;
}

.main {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
  width: 100px;
  float: left;
}

.main .blurb {
  font-size: 10px;
  opacity: 0.8;
  text-align: left;
  margin-top: 30px;
  line-height: 15px;
  width: 105px;
}

.main > .button-container {
  border-radius: 3px;
  background-color: #4d63bc;
  width: 105px;
  padding-bottom: 20px;
  -moz-box-shadow: 3px 3px 1px 0 #555;
  -webkit-box-shadow: 3px 3px 1px 0 #555;
  box-shadow: 3px 3px 1px 0 #555;
  margin-top: 20px;
}

.main > .button-container > .buttons {
  padding: 5px 10px;
  border-radius: 6px;
}

.main > .button-container > .buttons > button {
  color: gray;
  background-color: #8BC53F;
  padding: 2px 0;
  padding-left: 10px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  font-weight: 400;
  width: 80px;
  border: none;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  text-align: left;
  letter-spacing: -1px;
}

.main > .button-container > div:first-of-type > button:first-of-type {
  margin-top: 20px;
}

.main > .button-container > .buttons > button:disabled {
  background-color: grey;
  color: black;
  cursor: default;
}

.main > .button-container > div:last-of-type > button:last-of-type {
  margin-bottom: 15px;
}

label {
  color: #F0F0F0;
  font-size: 20px;
  letter-spacing: -2px;
  cursor: pointer;
}

.animation-container {
  display: inline-block;
  margin: 20px;
  margin-left: 25px;
  border-radius: 5px;
  position: relative;
}

.progressbar-container {
  background-color: #4d63bc;
  height: 10px;
  width: 105px;
  border-radius: 5px;
  z-index: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.ui-progressbar {
  height: 10px;
  text-align: left;
  width: 105px;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  z-index: 1;
  height: 10px;
  border-radius: 5px;
  background-color: #8BC53F;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  background-color: #4d63bc;
  color: #F0F0F0;
  border-radius: 3px;
  -moz-box-shadow: 3px 3px 1px 0 #555;
  -webkit-box-shadow: 3px 3px 1px 0 #555;
  box-shadow: 3px 3px 1px 0 #555;
}

body .ui-tooltip {
  border-width: 2px;
}

dl {
  margin-bottom: 20px;
}

dl dt {
  background-color: grey;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  width: 45px;
  text-transform: uppercase;
}

dl dd {
  margin: 2px 0;
  padding: 5px 0;
  font-weight: 700;
}