html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: lightgrey;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  position: relative;
}

.title {
  color: #4d63bc;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 6em;
  letter-spacing: -10px;
  position: relative;
  min-width: 750px;
}

.title .title-blurb {
  position: absolute;
  color: dimgrey;
  bottom: -15px;
  left: 295px;
  font-size: 35px;
  letter-spacing: -3px;
  font-weight: 600;
  min-width: inherit;
}

#github {
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 10px;
  left: 340px;
  z-index: 1;
  background: url(../img/octocat.png) no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

#npm {
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 15px;
  left: 410px;
  background: url(../img/npmjs.png) no-repeat;
  background-size: 100% auto;
  cursor: pointer;
}

.main-wrapper {
  margin-top: 20px;
}

.main {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  float: left;
}

.main .blurb {
  font-size: 16px;
  opacity: 0.8;
  text-align: left;
  margin-top: 30px;
  line-height: 15px;
  width: 155px;
}

.main > .button-container {
  border-radius: 3px;
  background-color: #4d63bc;
  width: 155px;
  padding-bottom: 20px;
  -moz-box-shadow: 3px 3px 1px 0 #555;
  -webkit-box-shadow: 3px 3px 1px 0 #555;
  box-shadow: 3px 3px 1px 0 #555;
  margin-top: 20px;
}

.main > .button-container > .buttons {
  padding: 5px 10px;
  border-radius: 6px;
}

.main > .button-container > .buttons > button {
  color: white;
  background-color: #8BC53F;
  padding: 2px 0;
  padding-left: 10px;
  font-size: 20px;
  line-height: 1.471;
  border-radius: 6px;
  font-weight: 400;
  width: 110px;
  border: none;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  text-align: left;
  letter-spacing: -1px;
  -moz-box-shadow: 3px 3px 1px 0 #555;
  -webkit-box-shadow: 3px 3px 1px 0 #555;
  box-shadow: 3px 3px 1px 0 #555;
  opacity: .9;
}

.main > .button-container > .buttons > button:hover {
  opacity: 1;
}

.main > .button-container > div:first-of-type > button:first-of-type {
  margin-top: 20px;
}

.main > .button-container > .buttons > button:disabled {
  background-color: grey;
  color: black;
  cursor: default;
}

.main > .button-container > div:last-of-type > button:last-of-type {
  margin-bottom: 15px;
}

label {
  color: #F0F0F0;
  font-size: 25px;
  letter-spacing: -2px;
  cursor: pointer;
}

.wisp-container {
  display: inline-block;
  margin: 20px;
  margin-left: 35px;
  border-radius: 5px;
  position: relative;
  border: 1px dashed #4d63bc;
}

#wisp {
  background-color: #4d63bc;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.progressbar-container {
  background-color: darkgrey;
  opacity: .9;
  height: 20px;
  width: 155px;
  border-radius: 15px;
  z-index: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.progressbar-container:hover {
  opacity: 1;
}

.ui-progressbar {
  height: 20px;
  text-align: left;
  width: 155px;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  z-index: 1;
  height: 20px;
  border-radius: 15px;
  background-color: #8BC53F;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  background-color: #4d63bc;
  color: #F0F0F0;
  border-radius: 3px;
  -moz-box-shadow: 3px 3px 1px 0 #555;
  -webkit-box-shadow: 3px 3px 1px 0 #555;
  box-shadow: 3px 3px 1px 0 #555;
  opacity: .8;
}

body .ui-tooltip {
  border-width: 2px;
}

dl {
  margin-bottom: 20px;
}

dl dt {
  background-color: grey;
  color: white;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
  width: 90px;
  text-transform: uppercase;
}

dl dd {
  margin: 2px 0;
  padding: 5px 0;
  font-weight: 700;
}

.blurb p {
  border-radius: 3px;
  padding: 5px;
  font-size: 15px;
  -moz-box-shadow: 3px 3px 1px 0 #555;
  -webkit-box-shadow: 3px 3px 1px 0 #555;
  box-shadow: 3px 3px 1px 0 #555;
}

.blurb p:first-of-type {
  background-color: grey;
  color: white;
}

.blurb p:last-of-type {
  color: #a94442;
  background-color: #f2dede;
  margin-top: 20px;
}